/*GLOBAL SETTINGS -----------*/

*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-decoration: none;
list-style: none;
color:black;
}


/*HEADER SETTING -----------------------------*/

.header {
    background-color: skyblue;  
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    color: black;
}

.navbar ul {
    gap: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 10px;
    color: black;
}



/*--------------------HERO SETTINGS----------------------*/

.imghero img{
display: flex;  
box-sizing: border-box;
 height: 400px;
 width: 600px;
margin: 150px 20px 20px 20px;
border-radius: 3rem;
}

.container{
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;  
    padding: 0px 20px 30px 50px;
}

.button{
background-color:skyblue;
margin: 10px 10px 15px 10px;
padding: 10px 10px 10px 10px;
margin-top: 30px;
border-radius: 3em;
}

.tittlehero p {
    margin-bottom: 30px;
    
}

